/* basic info: poster, title and overview*/

.posterAndOverview {
    display: flex;
    height: 300px;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 60px 0; 
}

.poster {
    height: 300px;
}

.title {
    font-size: 30px;
    padding: 0 20px 40px 0px;
    margin: 0;
    font-weight: bold;
}

.overview {
    width: 420px;
    font-size: 15px;
}

/* genre tags */

.genreTagsWrapper {
    display: flex;
    margin: 0;
    padding: 0;

}

.genreTag {
    list-style-type: none;
    border: solid 1px white;
    border-radius: 25px;
    margin: 0 15px 0 0;
    padding: 5px 15px;
    background-color: white;
    color: black;
    font-weight: 600;
}