.formWrapper {

    margin: 0 auto;
    width: 700px;
    
}

/*search bar*/

.searchWrapper {
    display: flex;
    width: 700px;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
}

.inputTitle {
    width: 630px;
    height: 50px;
    background-color: white;
    opacity: 0.8;
    color: hsl(0, 0%, 25%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    padding: 0 10px;
    letter-spacing: 1px;
    border-radius: 5px;
    margin: 0 20px 0 0;
    border: none;
}


.searchButton {
    height: 50px;
    width: 50px;
    background-color: white;
}





